<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYjoYhwxwu6xg9x_R8EkUORr4kuG9fpxw</string>
	<key>GCM_SENDER_ID</key>
	<string>1059337460592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expense.tracker</string>
	<key>PROJECT_ID</key>
	<string>mynotes-dss</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-dss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059337460592:ios:c074be3b7b492470ba8db5</string>
	<key>DATABASE_URL</key>
	<string>https://mynotes-dss-default-rtdb.firebaseio.com</string>
</dict>
</plist>